@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style:none;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 90px;
  background-color: #37455c;
}

/* 로고 영역 */
#logo {  
  float: left;
  width: 250px;
  height: 90px;
  line-height: 40px; /* height값과 같게 만들어서 세로로 중간에 오도록 맞춤 */
  padding-top: 6px;
  padding-left: 25px;
  padding-right: 10px;
}

#logo h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 0 #222;
}

/* 내비게이션 영역 */
nav {
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
  font-size: 20px;
  float: right;
  width: 900px;
  height: 90px;
  padding-top: 30px;
}

#topMenu {
  height: 60px;
}

#topMenu > li {
  float: left;
  position: relative;
}

#topMenu > li > a {
  display: block;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px #37455c;
  padding: 20px 60px;
}

#topMenu > li > a > span {
  font-size: 0.5em;
}

#topMenu > li > a:hover {
  color: #99b9d4;
  text-shadow: 0 -1px #37455c;
}

#topMenu > li > ul {
  display: none;
  position: absolute;
  width: 144px;
  background-color: rgba(255, 255, 255, 0.6);
  left: 30px;
  margin: 0;
}

#topMenu > li > ul > li {
  padding: 10px 10px 10px 15px;
}

#topMenu > li > ul >li > a {
  font-size: 14px;
  padding: 10px;
  color: #000;
}

#topMenu > li:hover > ul {
  display: block;
  z-index: 10;
}

#topMenu > li > ul > li > a:hover {
  color: #f00;
  
}

#topMenu >  {
  display: none;
}
#slideShow {
  clear: both;
  width: 100%;
  height: 310px;
  overflow: hidden;
  position: relative;
}
#slides {
  position: absolute;
}
#slides > img {
  width: 100%;
  float: left;
}

/* 콘텐츠 영역 */
#contents {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

/* 탭 메뉴 영역 */
#tabMenu {
  background-color: #172235;
  border-radius: 4px;
  float: left;
  width: 600px;
  height: 100%;
  margin-top: 10px;
/*   border-style: solid;
  border-width: 1px;
  border-color: gray; */
}
#tabMenu input[type="radio"] {
  display: none;
}
#tabMenu label {
  display: inline-block;
  margin: 0 0;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
}
#tabMenu label:hover {
  color: #222;
  cursor: pointer;
}
#tabMenu input:checked + label {
  color: #b00;
  border: 1px solid #ddd;
  background-color: #eee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tabContent {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.tabContent h2 {
  display: none;
}

#petitions, #notice ul {
  list-style: disc;
  margin-left: 30px;
}
#petitions, #notice ul li {
  font-size: 16px;
  color: #fff;
  line-height: 2.5;
}

#tab1:checked ~ #petitions, 
#tab2:checked ~ #notice {
  display: block;
}

/* 퀵 링크 영역 */
#links {
  float: right;
  width: 600px;
  height: 100%;
  margin-top: 40px;
}
#links ul {
  padding: 0;
  overflow: hidden;
}
#links ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 10px 0;
}
#links ul li a span {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #ddd;
  line-height: 150px;
}
#quick-icon1 {
  background-image:url("../images/icon-1.jpg");
}
#quick-icon2 {
  background-image:("../images/icon-2.jpg");
}
#quick-icon3 {
  background-image:("../images/icon-3.jpg");
}
#links ul li a p {
  margin-top: 15px;
  font-weight: 600;
  color: #fff;
}
/* 푸터 영역 */
footer {
  width: 100%;
  height: 1vh;
  border-top:2px solid #fff;
  position : relative;
  transform : translateY(90px);
}

#bottomMenu {
  width: 100%;
  height:auto;
  min-height: 100%;
  padding-bottom: 5px;
}

#bottomMenu ul {
  margin: top 10px;
}
#bottomMenu ul li {
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #ddd;
}
#bottomMenu ul li:last-child {
  border-right: none;
}
#bottomMenu ul li a, #bottomMenu ul li a:visited {
  font-size: 15px;
  color: #fff;
}
#sns {
  position:absolute;
  right: 2px;
}

#sns ul li {
  border: none;
  padding: 5px;
}
